<%= stylesheet_link_tag   'index' , media: 'all', 'data-turbolinks-track':  'reload' %>
<div class="container-fluid">
    <a class="navbar-brand" href="#">
    <h1>Editar Cliente</h1>
    </a>
</div>


<%= render "form", cliente: @cliente %>

<hr>
<div>
<button type="button" class="btn btn-outline-secondary"><%= link_to "Mostrar", @cliente %></button> |
<button type="button" class="btn btn-outline-secondary"><%= link_to "Voltar", clientes_path %></button>

</div>