<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Market</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
<h1>Mercado do Yuri<h1/>

<p><%= link_to 'Cliente', clientes_path %></p>
<p><%= link_to 'Produtos', produtos_path %></p>
<p><%= link_to 'Compras', compras_path %></p>
</body>
</html>