<div id="<%= dom_id compra %>">
  <p>
    <strong>Data compra:</strong>
    <%= compra.data_compra %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= compra.cliente_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= compra.produto_id %>
  </p>

</div>
