<p style="color: green"><%= notice %></p>

<h1>Compras</h1>

<div id="compras">
  <% @compras.each do |compra| %>
    <%= render compra %>
    <p>
      <%= link_to "Mostrar", compra %>
    </p>
  <% end %>
</div>

<%= link_to "Nova compra", new_compra_path %>
