<div id="<%= dom_id produto %>">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"> <%= produto.nome %> </td>
      <td><%= produto.preco %></td>
      <td><%= produto.descricao %></td>
    </tr>  


</div>
