<!DOCTYPE html>
<html>
  <head>
    <title>Mercadoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <body>
  
    <div>
      <ul>
        <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
        <%= link_to 'INICIO', root_path , class: "btn btn-primary" %>
        </a>
        </li>
      </ul>
    <%= yield %> 
    </div>
  </body>
</html>
